body {
	background-color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

textarea { 
	border: 0;
	resize: none; 
	overflow: hidden;
	border: 1px solid black;
	font-family: Arial, Verdana, sans-serif;
}

table {
	/*border: 1px solid black; for testing*/
}

#page-wrap { width: 7in; margin: 0 auto; }

#company-name { width: 400px; float: left; font-size: 30px; }

#order-num { margin-top: 1px; width: 150px; float: right; }
#order-num td.label { width: 55px; float: left; font-size: 15px; }
#order-num .field { width: 75px; height: 20px;}

#company-info table{ float:left; font-size: 13px;}

#fax { float:right;}

#form-title { font-size: 20px;float: right; }

#legend {
	float: right;
	clear:right;
	padding-top: 10px;
}
#legend .item { font-size: 17px; font-weight: bold; }
#legend .desc { font-size: 13px; }

#customer { font-size: 14px; }
#customer  .name-field { width: 230px; height: 70px; font-size: 13px } 
#customer .tel-field { width: 120px; height: 20px;}
#customer .date-field{ width: 150px; height: 20px;}

#order-details table {
	width: 100%;
	font-size: 11px;
}
#order-details table td, #order-details table th {
	text-align: center; 
	border-collapse:collapse; 
	border:1px solid black;
	width: 35px;
}

#order-details table .style-col { width: 70px; }
#order-details table .qty-col { width: 45px; }
#order-details table .price-col { width: 50px; }

#colour-labels { font-size: 14px; height: 20px;}

@media print {
	textarea { border:none; }
}