body {
	background-color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

textarea { 
	border: 0;
	resize: none; 
	overflow: hidden;
	border: 1px solid black;
	font-family: Arial, Verdana, sans-serif;
}

table {
	/*border: 1px solid black; for testing*/
}

.page-wrap { 
	width: 7.5in; 
	height: 10in; 
	margin: auto;
}

#company-name { width: 400px; float: left; font-size: 30px; }

#order-num { margin-top: 1px; width: 200px; float: right; }
#order-num td.label { 
	width: 65px; 
	float: left; 
	font-size: 16px; 
	font-weight:bold; 
}
#order-num .field {
	width: 135px;
	height: 20px;
	font-family: Courier New; 
	font-weight: bold;
	text-align: right;
	margin-top: 5px;
	font-size: 14px;
}

#company-info table{ float:left; font-size: 13px; font-weight: bold;}

#fax { float:right;}

#form-title { font-size: 20px;float: right; }

#legend {
	float: right;
	clear:right;
	padding-top: 10px;
}
#legend .item { font-size: 17px; font-weight: bold; }
#legend .desc { font-size: 13px; }

#customer { font-size: 14px; }
#customer textarea {font-size: 16px;}
#customer .name-label, #customer .tel-label, #customer .date-label { font-weight: bold; }
#customer  .name-field { width: 250px; height: 47px; font-size: 13px; }
#customer .tel-field { width: 112px; height: 20px; margin-top: 7px;}
#customer .date-label{ padding-left: 20px;}
#customer .date-field{ width: 145px; height: 20px; margin-top: 7px;}

.colour-labels { font-size: 12px; height: 20px; }

.order-details table {
	width: 100%;
	font-size: 11px;
	border: 1px solid black; 
	border-collapse:collapse;
}
.order-details table td, .order-details table th {
	text-align: center; 
	border-collapse:collapse; 
	border:1px solid black;
	width: 35px;
}
.order-details table th { color: white; background: black;}
.order-details table textarea {
	border:none;
	font-size: 14px;
	float:right;
	height: 15px;
}
.order-details table .style { width: 70px; }
.order-details table .style textarea { width: 51px; }
.order-details table .qty { width: 45px; }
.order-details table .qty textarea { width: 30px; }
.order-details table .price{ width: 60px; }
.order-details table .price textarea { width: 50px; }
.order-details table .item { width:28px; height: 18px; }

#add-item {
	font-size: 16px;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
}
#add-row{
	text-align: left;
}

.del-wrap { position: relative; }
.del-item { 
	display: block; 
	color: #000; 
	text-decoration: none; 
	position: absolute; 
	background: #EEEEEE; 
	font-weight: bold; 
	padding: 0px 3px; 
	border: 1px solid; 
	top: -2px; left: -17px; 
	font-size: 12px;
}

#CC table { font-size: 14px; padding-top: 5px;}
#CC .cc-label { }
#CC .cc-field { width: 200px; height: 18px;}

@page { 
	width: 8.5in;
	height: 11in;
	/*margin: 0.5in; 0.5in; 0.5in; 0in;*/
	margin: 0in 0.5in;
}

@media print {
	textarea { border:none; }
	#add-row, .del-item { display: none; }
	body { -webkit-print-color-adjust:exact; }/* Works for Chrome/Safari, no solution for FF/IE */
	
	.page-wrap { 
		margin-top: 0.5in;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	body {
		-webkit-text-size-adjust: none;
	}
	.order-details table textarea {
		font-size: 13px;
	}
}