body {
	background-color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

textarea { 
	border: 0;
	resize: none; 
	overflow: hidden;
	border: 1px solid black;
	font-family: Arial, Verdana, sans-serif;
}

textarea:focus {
  font-size: 16px;
}

table {
	/*border: 1px solid black; for testing*/
}

.page-wrap { 
	width: 7.5in; 
	height: 10in; 
	margin: 0.3in auto;
	page-break-after: always;
}

#company-name { width: 400px; float: left; font-size: 30px; }

#order-num { margin-top: 1px; width: 150px; float: right; }

#order-num .label { font-size: 16px; font-weight:bold; }
#order-num .field {
	font-family: Courier New; 
	font-weight: bold;
	margin-top: 5px;
	font-size: 17px;
}

#company-info table{ float:left; font-size: 13px; font-weight: bold;}

#fax { float:right;}

#form-title { font-size: 20px;float: right; }

#legend {
	float: right;
	clear:right;
	padding-top: 10px;
}
#legend .item { font-size: 17px; font-weight: bold; }
#legend .desc { font-size: 13px; }

#customer { font-size: 14px; }
#customer textarea {font-size: 16px;}
#customer .name-label, #customer .tel-label, #customer .date-label { font-weight: bold; }
#customer  .name-field { width: 250px; height: 47px; font-size: 13px; }
#customer .tel-field { width: 112px; height: 20px; margin-top: 7px;}
#customer .date-label{ padding-left: 20px;}
#customer .date-field{ width: 145px; height: 20px; margin-top: 7px;}

.sticky-wrap {
	position: relative;
	overflow-x: auto;
}

.sticky-wrap .sticky-thead {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: auto;
}

.sticky-wrap .sticky-thead {
	z-index: 100;
	width: 100%;
}

.sticky-wrap td, .sticky-wrap th {
	box-sizing: border-box;
}

.order-details table {
	width: 100%;
	border: 1px solid black; 
	border-collapse:collapse;
	margin: 0;
}

.order-details thead {
	font-size: 13px;
	position: relative;
	z-index: 2;
}

.order-details tbody {
	position: relative;
}

.order-details table td, .order-details table th {
	text-align: center; 
	border-collapse:collapse; 
	border: 1px solid black;
}
.order-details table th { color: white; background: black;}
.order-details thead {width: 100%;}
.order-details table textarea {
	border:none;
	font-size: 13px;
	float:right;
	height: 13px;
	text-align: right;
}
.order-details table .style { width: 70px; }
.order-details table .style textarea { 
	width: 63px; 
	font-size: 15px; 
	font-weight: 600; 
}
.order-details table .qty { width: 45px; }
.order-details table .qty textarea { width: 30px; }
.order-details table .price{ width: 60px; }
.order-details table .price textarea { width: 52px; }
.order-details table .item { width:28px; height: 18px; }

#add-item {
	font-size: 16px;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
}
#add-row{
	text-align: left;
}

.del-wrap { position: relative; }
.del-item { 
	display: block; 
	color: #000; 
	text-decoration: none; 
	position: absolute; 
	background: #EEEEEE; 
	font-weight: bold; 
	padding: 0px 3px; 
	border: 1px solid; 
	top: -3px; left: -17px; 
	font-size: 12px;
}

#CC table { font-size: 14px; padding-top: 2px;}
#CC textarea  {font-size: 14px;}
#CC .cc-field { width: 160px; height: 15px; padding-top: 6px}
#CC .exp-field  { width: 105px; height: 15px; padding-top: 6px}

@page { 
	width: 8.5in;
	height: 11in;
	/*margin: 0.5in; 0.5in; 0.5in; 0in;*/
	margin: 0in 0.5in;
}

@media print {
	textarea { border:none; }
	#add-row, .del-item, .sticky-thead { display: none; }
	body { -webkit-print-color-adjust:exact; }/* Works for Chrome/Safari, no solution for FF/IE */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	body {
		-webkit-text-size-adjust: none;
	}
}